<h3>Global chat</h3>

<div class='row' ng-show='auth.user'>
	<div class='col-md-8'>
		<div style='height:200px'>
			<div ng-repeat='message in messages'>{{ message.user }} - {{ message.message }}</div>
		</div>

		<input type='text' class='form-control' ng-model='currentMess' ng-enter="sendChat()">

		<div class='btn btn-primary' ng-click='sendChat()'>Send</div>
	</div>
</div>

<!-- if user is not signed in -->
<div class='jumbotron' ng-if='!auth.user'>
	<h1 class='text-center'>Sign in and get started chatting</h1>

	<div ng-controller='AuthCtrl'>
		<a ng-click='login()' class='btn btn-large btn-success'>Sign in with twitter</a>
	</div>
</div>